body{
    font-family: '宋体' ;
    margin: 123px;
    font-size: 25px;

}

/*This is the style of law_part*/


.law_part{
    font-family: '汉仪江南楷宋' ;
    font-size: 40px;
    background-color: antiquewhite;
    text-align: center;
}

.law_chapter{
    font-family: '汉仪金陵刻经';
    font-size: 35px;
    text-align: center;


}

.law_section{
    font-family: '楷体';
    font-size: 30px;
    text-align: center;
    
}
